html {
    background-color: #DEDEDE;
}
body {
    font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 1.5em auto;
    padding: 1.5em;
    background-color: white;
    color: #202020;
    max-width: 35em;
    border: 0.75em solid #A6A59C;
    line-height: 1.5em;
}
p {
    margin: 1.5em 0;
}
h1 {
    background-color: #212020;
    color: #E5E1DA;
    font-size: 200%;
    padding: 0.75em;
    margin: -0.75em -0.75em 0.75em -0.75em;
}
h2 {
    background-color: #212020;
    color: #666666;
    font-size: 150%;
    padding: 1em;
    margin: -1em -1em 1em -1em;
}
h1 + h2 {
    margin-top: -2em;
    padding-top: 0.25em;
}
